@import '../../Assets/scss/default-import';

/* PARTICIPANT ID STYLES */

.participantid {
  @include container(504, $white);
}

.title--modecolor {
  color: $text50;
}

.title--modecolor--purple {
  color: $secondary;
}

.participant-info {
  background-color: $gray;
  border-radius: 2px;
  margin-top: 20px;
  padding: 14px 28px;
}

.date-points {
  display: flex;
  justify-content: space-between;
}