@import "../../Assets/scss/default-import";

/* INPUT STYLES */

.input {
	width: 100%;
	box-sizing: border-box;
	color: $text;
	font-size: remHandler(16);
	border: remHandler(1) solid $gray-dark;
	border-radius: remHandler(2);
	transition: all 0.6s;

	&_text {
		height: remHandler(44);
		padding: 0 remHandler(40) 0 remHandler(8);
	}

	&::placeholder {
		color: $text50;
		font-family: $regular;
	}

	&:focus {
		border-color: $primary;
	}

	&:hover {
		border-color: $primary;
	}
}

.error {
	color: $status-red;

	&_pos {
		position: absolute;
		bottom: remHandler(-21);
	}

	&_text {
		font-size: remHandler(12);
	}
}

textarea.error,
input.error {
	color: $text;
	border-color: $status-red;

	&::placeholder {
		color: $text50;
	}
}