@import "../../Assets/scss/default-import";

/* INPUT STYLES */

.input {
	width: 100%;
	box-sizing: border-box;
}

.input {
	color: $text;
	font-size: remHandler(16);
	transition: all 0.6s;

	&::placeholder {
		color: $text50;
		font-family: $regular;
	}

	&:focus {
		border-color: $primary;
	}

	&:hover {
		border-color: $primary;
	}
}

.input {
	border: remHandler(1) solid $gray-dark;
	border-radius: remHandler(2);
}

.input {
	&--text {
		height: remHandler(44);
		padding: 0 remHandler(8);
	}
}