// COLORS 
$text: #1F1F1F;
$primary: #343957;
$secondary: #6B51DF;
$gray: #F6F6F6;
$gray-dark: #D2D2D2;
$gray-dark2: #D9D9D9;
$light-gray: #FCFCFC;
$status-green: #009933;
$status-red: #CC3333;
$hover: #E9E5FA;
$text50: rgba(31, 31, 31, 0.5);
$text70: rgba(31, 31, 31, 0.7);
$links: #0010A1;
$white: #FFFFFF;

// FONTS
$regular: "OpenSans-Regular";
$medium: "OpenSans-Medium";
$bold: "OpenSans-Bold";
$semibold: "OpenSans-SemiBold";