@import "../../Assets/scss/default-import";

/* POINTS AWARDING STYLES */

.pointsawardingform {
	width: auto;
	max-width: remHandler(660);
	padding: remHandler(28) remHandler(36) remHandler(60);
}