@import "../../Assets/scss/default-import";

/* POINTS AWARDING STYLES */

.pointsawardingform {
	@include container(660, $white);

	& label {
		position: relative;
	}
}

.margin {
	&_mb12 {
		margin-bottom: remHandler(12);
	}

	&_mb32 {
		margin-bottom: remHandler(32);
	}

	&_mt12mb12 {
		margin: remHandler(12) 0;
	}

	&_mr32 {
		margin-right: remHandler(32);
	}

	&_mb20 {
		margin-bottom: remHandler(20);
	}
}

.error {
	color: $status-red;
	font-size: remHandler(12);

	&_pos {
		position: absolute;
		bottom: remHandler(-21);
	}

	&_text {
		font-size: remHandler(12);
	}
}

textarea.error,
input.error {
	border-color: $status-red;
}