@import "../../Assets/scss/default-import";

/* INPUT STYLES */

.input {
	width: 100%;
	height: remHandler(44);
}

.input {
	color: $text;
	font-size: remHandler(16);

	&::placeholder {
		color: $text50;
		font-family: $regular;
	}
}

.input {
	border: remHandler(1) solid $gray-dark;
	border-radius: remHandler(2);
}

.input {
	&--textarea {
		width: 100%;
		height: remHandler(116);
		font-family: $regular;
		resize: none;

		&::placeholder {
			color: $text50;
			font-size: remHandler(16);
			font-family: $regular;
		}
	}

	&--textarea {
		padding: remHandler(10) remHandler(8);
	}

}