@import "../../Assets/scss/default-import";

/* APP STYLES */

.App {
	width: 100%;
	max-width: 86.47%;
	height: 100%;
	background-color: #FDFDFD;
	padding: remHandler(28) remHandler(62) remHandler(37);
	margin: 0 0 0 auto;
}

.container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.margin {
	&--mb12 {
		margin-bottom: remHandler(12);
	}

	&--mb32 {
		margin-bottom: remHandler(32);
	}

	&--mt12mb12 {
		margin: remHandler(12) 0;
	}

	&--mr32 {
		margin-right: remHandler(32);
	}

	&--mb20 {
		margin-bottom: remHandler(20);
	}
}