@import '../../Assets/scss/default-import';

/* TITLE STYLES */

.title {
	width: 100%;
	font-size: remHandler(32);

	&_size28 {
		font-size: remHandler(28);
		font-weight: 600;
	}

	&_size20 {
		font-size: remHandler(20);
	}

	&_size16s {
		font-size: remHandler(16);
		font-family: $semibold;
	}

	&_size16r {
		font-size: remHandler(16);
	}

	&_size14 {
		color: $text70;
		font-size: remHandler(14);
	}

	&_size12 {
		font-size: remHandler(12);
	}

	&_mb2 {
		margin-bottom: remHandler(2);
	}

	&_mt6 {
		margin-top: remHandler(6);
	}

	&_mb8 {
		margin-bottom: remHandler(8);
	}

	&_mb18 {
		margin-bottom: remHandler(18);
	}

	&_mb28 {
		margin-bottom: remHandler(28);
	}

	&_mb20 {
		margin-bottom: remHandler(20);
	}

	&_mb44 {
		margin-bottom: remHandler(44);
	}
}