@import '../../Assets/scss/default-import';

/* PARTICIPANT ID STYLES */

.participantid {
  @include container(504, $white);

  &__wrapper {
    width: 100%;
    height: remHandler(426);
    margin-top: remHandler(20);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: remHandler(4);
    }

    &::-webkit-scrollbar-thumb {
      display: block;
      background-color: $gray-dark;
      border-radius: remHandler(4);
      height: 30px !important;
    }
  }

  &__info {
    width: 100%;
    background-color: $light-gray;
    border-radius: remHandler(2);
    margin-bottom: remHandler(20);
    padding: 0 remHandler(28) remHandler(16);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__infopoints {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: remHandler(48);

  }
}

.title {
  cursor: initial;

  &_mode {
    color: $text50;
    font-family: $semibold;
  }

  &_widthauto {
    width: auto;
  }

  &_size12 {
    font-size: remHandler(12);
    color: $text50;
  }

  &_purple {
    color: $secondary;
  }
}

.marginMb12 {
  margin-bottom: remHandler(12);
}



.error {
  color: $status-red;

  &_pos {
    position: absolute;
    bottom: remHandler(-21);
  }

  &_text {
    font-size: remHandler(12);
  }
}

textarea.error,
input.error {
  color: $text;
  border-color: $status-red;

  &::placeholder {
    color: $text;
  }
}